body {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
}

.libros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px
}

.col-md-4 {
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 0 15px rgba(57, 255, 20, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s;
}

.thumbnail {
  padding: 15px;
}

.caption {
  text-align: center;
}

p {
  margin: 10px 0;
  color: #b3c4b0;
}

.btn {
  background-color: #39ff14;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #0d0d0d;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 0 10px rgba(57, 255, 20, 0.5);
}

.btn:hover {
  background-color: #ff007f;
  transform: scale(1.05);
}

.col-md-4:hover {
  transform: scale(1.05);
}
